.obolocka{
    padding: 10px 5px;
    width: 100%;
    margin: 0 auto;

}
.LogPasInput{
    text-decoration: dashed;
    border:none;
    border-bottom: 1px solid rgb(219, 139, 34);
    border-top: 1px solid rgb(219, 139, 34);
    width: 100%;
    background-color: antiquewhite;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
}
.buttonSignIn{
    padding: 15px;
    background-color: rgb(228, 184, 126);
    cursor: pointer;
    border-radius: 15px;
    
}