.errorBlock{
    position: absolute;
    top:  0;
    left: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.error{
    padding: 10px;
    margin: 10px ;
    height: 50px;
    width: 400px;
    background-color: rgba(255, 0, 0, 0.589);
    border-radius: 5px;
    border: 5px solid rgb(192, 71, 71);
    font-size: 14px;
}


.success{


    padding: 10px;
    margin: 10px ;
    height: 50px;
    width: 400px;
    background-color: rgba(19, 224, 36, 0.589);
    border-radius: 5px;
    border: 5px solid rgb(0, 129, 32);
    font-size: 14px;
}